
/*-----slider-------*/

.swiper-container {
    margin: 100px 0 0 0;
    width: 800px;
    height: 400px;
}

  .swiper-slide img {
    width: 800px;
    height: 400px;
    object-fit: contain;
    border-radius: 4px;
  }