* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.title {
    margin-left: 14px;
    
}
.checkbox {
    display: none;
}
.header-estilizado {
    position: fixed;
    width: 100%;
    z-index: 10;
}
.header-container {
    width: 90%;
    position: relative;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-label {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.header-button {
    width: 2rem;
    height: 0.2rem;
    background: #8a8a8a;
    right: 3px;
    position: absolute;
    top: -3rem;
    transition: all 0.2s;
    border: 3px solid rgb(54, 53, 53,);
}

.header-button::before, .header-button::after {
    content: "";
    width: 2rem;
    height: 0.2rem;
    background: #8a8a8a;
    position: absolute;
    top: -0.6rem;
    transition: all 0.2s;
}

.header-button::after {
    top: 0.6rem;
    background: #8a8a8a;
}

.header-button:hover {
    background: rgb(54, 53, 53);
}

.menu {
    background: #d1d1d1;
    width: 100%;
    height: 12rem;
    position: fixed;
    z-index: 9;
    top: -15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #1d1d1d;
    transition: all 0.5s;
}
ul {
    list-style: none;
}
li {
    margin: 0.5rem;
}
a {
    margin: 0 1rem;
    color: #000;
    text-decoration: none;
}
.checkbox:checked ~ .menu {
    background: #fff;
    top: 0rem;
}
.checkbox:checked + header .header-container label .header-button {
    background: none;
}
.checkbox:checked + header .header-container label .header-button::before {
    transform: rotate(35deg);
    top: 0;
}
.checkbox:checked + header .header-container label .header-button::after{
    transform: rotate(-35deg);
    top: 0;
}


.contenedor-principal-header {
    width: 100%;
    height: 80px;
    background: #1d1d1d;
    opacity: 0.96
    
}
.container-header {
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto; 
}
.logo-title img {
    width: 150px;
    margin-left: 10px;
}



/*--PORTADA--*/
.contenedor-portada {
    width: 100%;
    height: 500px;
    position: relative;
    background-image: url(../imagenes/Avión2.jpg);
    background-size: 180%;
    animation: movimiento 15s infinite linear alternate;
    
}
@keyframes movimiento  {
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}
.capa-gradiente {
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left, black, #b49d33);
    opacity: 0.7;
}
.conteiner-detalle {
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
}
.detalle {
    width: 100%;
    max-width: 500px;
    position: relative;
    top: 114px;
    color: white;
}
.detalle h1 {
    font-size: 40px;
    font-weight: 100;
    margin-left: 20px;
}
.detalle p {
    margin-top: 10px;
    font-size: 20px;
    margin-left: 20px;
}
 .detalle button {
     padding: 10px 20px;
     font-size: 16px;
     background: none;
     border-style: none;
     border: 1px solid whitesmoke;
     color: whitesmoke;
     margin-top: 20px;
     transition: background 300ms;
     border-radius: 4px;
     cursor: pointer;
     margin-left: 20px;
 }
 .detalle button:hover {
     background: white;
     color: #1d1d1d;
 }

 /*---CONTENIDO------*/

 main {
     width: 100%;
     max-width: 1200px;
 }
 article {
     width: 100%;
     max-width: 800px;
     margin-top: 50px;
     padding-right: 20px;
 }
 article h1 {
     font-size: 40px;
     font-weight: 100;
     margin-bottom: 10px;
     margin-left: 20px;
 }
 article hr {
     max-width: 430px;
     height: 6px;
     border-style: none;
     margin-left: 10px;
     background: linear-gradient(45deg, rgb(34, 33, 34) 0%, rgb(166, 168, 51) 50%, rgb(148, 90, 206) 100%);
     background-size: 300%;
     animation: change 10s ease-in-out infinite;
 }

 @keyframes change {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

  article p {
      font-size: 20px;
      margin-top: 20px;
      font-weight: 100;
      margin-left: 20px;
  }

  @media screen and (max-width: 500px){
      .detalle p{
          font-size: 16px;
      }
      article p{
          font-size: 16px;
      }
  }

  /*-------CONTENEDOR DE MISION Y VISION-----------*/

  
  .conteiner-mision-vision{
      width: 340px;
      max-width: 400px;
      height: 380px;
      background: rgb(231, 231, 231);
      box-shadow: 0 0 3px rgba(100, 96, 96, 0.8);
      margin-left: 70%;
      margin-top: -25%;
      border-radius: 12px;
  }
  .conteiner-mision {
      padding-top: 20px;
      margin-top: 20px;
      margin-left: 20px;
  }
  .conteiner-mision h3 {
      color: rgba(32, 32, 32, 0.8);
      font-weight: 600;
      margin-bottom: 30px;
      font-size: 20px;
  }
  .conteiner-mision p {
      font-weight: 300;
      margin-bottom: 36px;
      font-size: 14px;
      margin-right: 20px;
      text-align: left;
  }

  .conteiner-vision {
    padding-top: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.conteiner-vision h3 {
    color: rgba(32, 32, 32, 0.8);
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 20px;
}
.conteiner-vision p {
    font-weight: 300;
    margin-bottom: 36px;
    font-size: 14px;
    margin-right: 20px;
    text-align: left;
}

.controlador-de-tierra {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

/*---------------------------LA PARTE DE SERVICIOS---------------------*/
.container-servicios {
    margin-top: 240px;
    margin-left: 20px;
    font-weight: 100;
    margin-bottom: 10px;
}
 hr {
     max-width: 630px;
     height: 6px;
     border-style: none;
     background: linear-gradient(45deg, rgb(34, 33, 34) 0%, rgb(166, 168, 51) 50%, rgb(148, 90, 206) 100%);
     background-size: 300%;
     animation: change 10s ease-in-out infinite;
}

.container-servicios p {
    font-weight: 400;
    color: rgba(145, 141, 141, 0.9);
    font-size: 16px;
    margin-top: 50px;
    
}

/*---------------------------LA PARTE DE SERVICIOS--------------------*/

.container-info-servicios {
    width: 85%;
    height: 700px;
    margin-top: 48px;
    margin-left: 40px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
/*------contenedor de tramites--------*/
.conteiner-tramites {
    width: 250px;
    height: 250px;
    background: rgba(240, 240, 240, 0.6);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10px 1px #c7c7c7;
    cursor: pointer;
}
.conteiner-tramites img {
    width: 40px;
    height: 40px;
}
.conteiner-tramites p {
    color: rgba(145, 141, 141, 0.9);
    font-size: 14px;
}

/*------contenedor de permisos--------*/
.conteiner-permisos {
    width: 250px;
    height: 250px;
    background: rgba(240, 240, 240, 0.6);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10px 1px #c7c7c7;
    cursor: pointer;
}
.conteiner-permisos i {
    font-size: 40px;
}
.conteiner-permisos p {
    color: rgba(145, 141, 141, 0.9);
    font-size: 14px;
}

/*------contenedor de Informacion--------*/

.conteiner-informacion {
    width: 250px;
    height: 250px;
    background: rgba(240, 240, 240, 0.6);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10px 1px #c7c7c7;
    cursor: pointer;
}
.conteiner-informacion i {
    font-size: 40px;
}
.conteiner-informacion p {
    color: rgba(145, 141, 141, 0.9);
    font-size: 14px;
}

/*------contenedor de Asignacion--------*/

.conteiner-asignacion {
    width: 250px;
    height: 250px;
    background: rgba(240, 240, 240, 0.6);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10px 1px #c7c7c7;
    cursor: pointer;
}
.conteiner-asignacion i {
    font-size: 40px;
}
.conteiner-asignacion p {
    color: rgba(145, 141, 141, 0.9);
    font-size: 14px;
}

/*------contenedor de calculo y pago--------*/

.conteiner-calculo-y-pago {
    width: 250px;
    height: 250px;
    background: rgba(240, 240, 240, 0.6);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10px 1px #c7c7c7;
    cursor: pointer;
}
.conteiner-calculo-y-pago i {
    font-size: 40px;
}
.conteiner-calculo-y-pago p {
    color: rgba(145, 141, 141, 0.9);
    font-size: 14px;
}

/*------contenedor de coordinacion--------*/

.conteiner-coordinacion {
    width: 250px;
    height: 250px;
    background: rgba(240, 240, 240, 0.6);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10px 1px #c7c7c7;
    cursor: pointer;
   
}
.conteiner-coordinacion i {
    font-size: 40px;
}
.conteiner-coordinacion p {
    color: rgba(145, 141, 141, 0.9);
    font-size: 14px;
}

/*------contenedor de apoyo completo--------*/

.conteiner-apoyo-completo {
    width: 250px;
    height: 250px;
    background: rgba(240, 240, 240, 0.6);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10px 1px #c7c7c7;
    cursor: pointer;
}
.conteiner-apoyo-completo i {
    font-size: 40px;
}
.conteiner-apoyo-completo p {
    color: rgba(145, 141, 141, 0.9);
    font-size: 14px;
}/*------------FINAL DE LA PARTE DE SERVICIOS------------*/

/*------------parte de contatos------------*/

.final {
    width: 100%;
    padding-top: 16px;
    margin-top: 40px;
    background: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacto {
    color: #c7c7c7;
    text-align: center;
}
.contacto h4 {
    margin-bottom: 8px;
}
.contacto p {
    margin-bottom: 10px;
    font-size: 12px;
}

.guatemala {
    background: #1d1d1d;
    
}

.guatemala h5 {
    color: #c7c7c7;
    opacity: 0.4;
    margin-left: 10px;
    padding-bottom: 12px;
}